.userInfo {
	display: flex;
	align-items: center;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.avatarBlock {
	position: relative;
	margin: 0px 12px 0 45px;
	cursor: pointer;
}

.avatarBlock:hover::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 2;
	border: 1px solid var(--orange);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	top: -6px;
	left: -6px;
}

.userName {
	color: var(--orange);
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
}

@media (max-width: 1540px) {
	.avatarBlock {
		margin: 0px 13px 0 30px;
	}
}

@media (max-width: 1024px) {
}

@media (max-width: 600px) {
	.userName {
		display: none;
	}

	.avatar {
		width: 30px;
		height: 30px;
	}
}
