.title {
	margin-top: 12px;
	line-height: 18px;
}

.postLink {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 10px;
	position: relative;
	z-index: 22;
}

.postLink:hover {
	color: var(--orange);
}

.publicationInfo {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.publicationTime {
	color: var(--grey99);
}

.author {
	display: flex;
	align-items: center;
}

.authorPhoto {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 7px 0 6px;
}

.authorName {
	position: relative;
	z-index: 22;
	color: var(--orange);
}

.authorName:hover::after {
	content: '';
	position: absolute;
	z-index: 23;
	top: 0;
	left: 0;
	right: 0;
	bottom: -3px;
	width: 100%;
	border-bottom: 1px solid var(--orange);
}

.publicationViews {
	margin-bottom: 12px;
}

.timeViews {
	margin-left: 4px;
	color: var(--grey99);
}

@media (max-width: 1540px) {
	.title {
		margin-top: 10px;
	}

	.postLink {
		padding-bottom: 8px;
	}
}

@media (max-width: 1024px) {
	.title {
		margin-top: 0;
	}

	.postLink {
		padding-bottom: 0;
	}

	.publicationInfo {
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 5px;
	}
	.publicationTime {
		display: none;
	}

	.author {
		margin: 15px 0 5px 0;
	}

	.authorPhoto {
		margin-left: 0;
	}
}

@media (max-width: 600px) {
	.title {
	}

	.postLink {
		display: block;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 13px;
	}

	.author {
		margin: 0;
		align-items: center;
	}

	.authorPhoto {
      margin : 0 7px 0 0;
	}

	.authorName {
		font-size: 10px;
		margin-right: 6px;
	}

	.textContent {
		order: -1;
		display: flex;
		flex-direction: column-reverse;
		padding: 0 20px;
	}

	.publicationInfo {
		align-items: center;
		flex-direction: row-reverse;
		justify-content: flex-end;
		margin-bottom: 5px;
	}

	.publicationTime {
		display: block;
		font-size: 10px;
	}

	.publicationViews {
		display: none;
	}

	.wordPublished {
		display: none;
	}
}
